# ---- ФАЙЛЫ ----
# Игнорирование по типу файла, будут игнорироваться в АБСОЛЮТНО всех директориях
# Например /files/data.zip, /server.log, /uploads/users/data/info.xls
#*.zip
#*.pdf
#*.xls
*.jpg
*.mp3
*.bak
*.log
*.save
*.old
*.pyc

# You can whitelist files/folders with !, these will not be ignored.
#!*.yaml
!.gitignore
!*.md

# Ignore folders.
.storage/
.cloud/
.google.token/
certificate/
www/
esphome/.esphome/
**/__pycache__/
**/.pioenvs/
**/.piolibdeps/
**/lib/
**/src/
**/platformio.ini


# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.*
.google_maps_location_sharing.cookies.ad6170epson_gmail_com
options.xml
plex.conf
webostv.conf
settings.conf.bak
OZW_Log.txt
.sonoff.json
.yandex_station.json
home-assistant.log*
custom_components/sonoff/devices.json
.sonoff.json
.yandex_station.json
pyozw.sqlite
esphome/esp32sensors.yaml
sensors/yandex_maps.yaml
sensors/yandex_transport.yaml